@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  --clr-primary: #2f00ff;
  --clr-primary-hover: #2f00ff;
  --clr-primary-dark: #2f00ff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.nav-list {
  background: white;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item img{
  height: 50px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.con-front img{
  width: 100%;
}

.con-front {
  position: relative;
    overflow: hidden; 
}

.con-front img {
  width: 100%;
}

.con-front .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.con-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: 1;
}